* {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  font-size: x-small;
}

a {
  text-decoration: none;
  color: pink;
}

a:hover {
  color: purple;
}

#action-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 33%;
}

.questions {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  line-height: 1.5em;
}
#start-div h1 {
  text-align: center;
}

#start-btn-div {
  display: flex;
  justify-content: center;
}

/* #question-btn-div */
button {
  border-radius: 15%;
  color: #fff;
  background-color: purple;
  padding: 2px 5px 2px 5px;
}

button:hover {
  opacity: 0.7;
}

.btn-div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.answer-div {
  display: flex;
  width: 33%;
  margin: 10px auto 10px auto;
  border-top: 2px solid grey;
}
.answer {
  margin-top: 0;

  text-align: center;
  color: grey;
  font-style: italic;
}

ol li {
  font-weight: bold;
  line-height: 1.5em;
}

#score-header {
  text-decoration: underline;
}

#retake {
  padding: 5px;
  margin: 5px;
}

#button-div {
  display: flex;
  justify-content: center;
}
